<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">

            <!-- sidebar -->
            <app-student-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-student-sidebar>
            <!-- /Sidebar -->

            <!-- Student Courses -->
            <div class="col-xl-9 col-lg-9">

                <div class="settings-widget card-info">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Les sujets PFE</h3>
                        </div>
                        <div class="checkout-form pb-0">
                            <div class="wishlist-tab">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="active" data-bs-toggle="tab"
                                            data-bs-target="#enroll-courses">Tous les projets</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" data-bs-toggle="tab"
                                            data-bs-target="#active-courses" (click)="loadProjetsPostules()">Projets postulés</a>
                                    </li>                                    
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" data-bs-toggle="tab"
                                            data-bs-target="#complete-courses" (click)="loadProjetsAffectes()">Projets affectés</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="enroll-courses">
                                    <div class="row">

                                        <!-- Course Grid -->
                                        <div class="col-xxl-4 col-md-6 d-flex" *ngFor="let sujet of sujets">
                                            <div class="course-box flex-fill">
                                                <div class="product">
                                                    <div class="product-img">
                                                        <a >
                                                            <img class="img-fluid" alt="Img" [src]="'/../../../../assets/img/sujetpfe/' + sujet.image">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3 class="title instructor-text"><a> {{sujet.titre}}</a></h3>
                                                        <div class="course-info d-flex align-items-center">    
                                                        </div>
                                                        <div class="course-edit-btn d-flex align-items-center justify-content-between">
                                                            <a href="javascript:void(0);" class="postuler-btn" (click)="postuler(sujet)"><i class="bx bx-edit me-2"></i>Postuler</a>
                                                            <a href="javascript:void(0);" (click)="ouvrirDetails(sujet)" data-bs-toggle="modal" data-bs-target="#detailSujetModal">
                                                                <i class="bx bx-detail me-2"></i>Détails
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="active-courses">
                                    <div class="row">
                                        <div class="col-xxl-4 col-md-6 d-flex" *ngFor="let sujet of projetsPostules">
                                            <div class="course-box flex-fill">
                                                <div class="product">
                                                    <div class="product-img">
                                                        <a>
                                                            <img class="img-fluid" alt="Img" [src]="'/../../../../assets/img/sujetpfe/' + sujet.image">
                                                        </a>
                                                    </div>

                                                    <div class="product-content">
                                                        <h3 class="title instructor-text"><a> {{sujet.titre}}</a></h3>
                                                        <div class="course-info d-flex align-items-center">    
                                                        </div>
                                                        <div class="course-edit-btn d-flex align-items-center justify-content-between">
                                                            <a href="javascript:void(0);" (click)="ouvrirDetails(sujet)" data-bs-toggle="modal" data-bs-target="#detailSujetModal">
                                                                <i class="bx bx-detail me-2"></i>Détails
                                                            </a>
                                                            
                                                        </div>
                                                    </div>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="complete-courses">
                                    <div class="row">
                                        <div class="col-xxl-4 col-md-6 d-flex" *ngFor="let sujet of projetsAffectes">
                                            <div class="course-box flex-fill">
                                                <div class="product">
                                                    <div class="product-img">
                                                        <a>
                                                            <img class="img-fluid" alt="Img" [src]="'/../../../../assets/img/sujetpfe/' + sujet.image">
                                                        </a>
                                                    </div>

                                                    <div class="product-content">
                                                        <h3 class="title instructor-text"><a> {{sujet.titre}}</a></h3>
                                                        <div class="course-info d-flex align-items-center">    
                                                        </div>
                                                        <div class="course-edit-btn d-flex align-items-center justify-content-between">
                                                            <a href="javascript:void(0);" class="deposer-btn" (click)="ouvrirDeposerRapportModal(sujet)"><i class="bx bx-edit me-2"></i>Déposer rapport</a>
                                                            <a href="javascript:void(0);" (click)="ouvrirDetails(sujet)" data-bs-toggle="modal" data-bs-target="#detailSujetModal">
                                                                <i class="bx bx-detail me-2"></i>Détails
                                                            </a>
                                                            
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
            <!-- /Student Courses -->

        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- MODAL DETAIL -->
<div class="modal fade" id="detailSujetModal" tabindex="-1" aria-labelledby="detailSujetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailSujetModalLabel">Détails du Sujet PFE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedSujet">
                    <p><strong>Titre:</strong> {{ selectedSujet.titre }}</p>
                    <p><strong>Description:</strong> {{ selectedSujet.description }}</p>
                    <p><strong>Technologie:</strong> {{ selectedSujet.technologie }}</p>
                    <p><strong>Modérateur:</strong> {{ selectedSujet.moderator?.name || 'Aucun modérateur' }}</p>
                    <img *ngIf="selectedSujet.image" [src]="'/../../../../assets/img/sujetpfe/' + selectedSujet.image" alt="Image du Sujet" class="img-thumbnail">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <!-- Ajout d'un bouton de sauvegarde si vous voulez modifier le sujet -->
                <button type="button" class="btn btn-primary postuler-btn" *ngIf="selectedSujet" (click)="postuler(selectedSujet)">Postuler</button>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL DETAIL -->


<!-- Modal pour déposer un rapport -->
<div class="modal fade" id="deposerRapportModal" tabindex="-1" aria-labelledby="deposerRapportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deposerRapportModalLabel">Déposer Rapport</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="rapportFile" class="form-label">Sélectionnez un rapport (PDF)</label>
                <input type="file" class="form-control" id="rapportFile" accept=".pdf" (change)="onFileSelected($event)">
                <div *ngIf="selectedFileName" class="mt-2">
                    📄 Rapport sélectionné : <strong>{{ selectedFileName }}</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="uploadRapport()">Déposer</button>
            </div>
        </div>
    </div>
</div>
